{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "e777d75355cf6dbcbce05fe2fad099b5cd5204ec"
                            #_#_:local/root "../open-source"}}}
